
@{
    ViewData["Title"] = "Quản lý mượn trả";
}

@section css{
    <link href="~/css/admin/page/bookborrow.css" rel="stylesheet" />
}

@section scripts
{
    <script src="~/js/admin/bookborrow.js" asp-append-version="true"></script>
}

<ul class="nav nav-pills" role="tablist">
    <li role="presentation" class="tab-header active" typetab="bookRequest"><a style="color: #000000">Yêu cầu <span class="badge request"></span></a></li>
    <li role="presentation" class="tab-header" typetab="bookBorrowing"><a style="color: #000000">Đang mượn <span class="badge borrowBook"></span></a></li>
    <li role="presentation" class="tab-header" typetab="bookOutDate"><a style="color: #000000">Quá hạn <span class="badge outDate"></span></a></li>
</ul>

<div class="container-request-book"></div>
<div class="container-borrow-book" style=" margin-bottom: 40px;"></div>

<div id="pop-up" style="display: none;">
    <div class="avt-item-circle">
        <img src="" class="img-circle" />
        <h5 class="user-inf">bvbao123124dgssssssdfsss</h5>
    </div>
    <div class="info-user">
        <div class="userFullName"><strong>Họ tên: </strong>Bùi Văn Bảo</div>
        <div class="userAge"><strong>Tuổi: </strong>21</div>
        <div class="userEmail"><strong>Email: </strong>bvbao1234@gmail.com</div>
        <div class="userAddress"><strong>Địa chỉ: </strong>Thái Thụy - Thái Bình - Việt Nam</div>
    </div>
</div>
