<footer class="py-2 bg-dark" style="position: absolute;
        left: 0;
        bottom: 0;
        right: 0;
        margin: 0 12px;
">
    <div class="container">
        <p class="m-0 text-center text-white">Copyright &copy; 2021 by Bao, Dung, Cuong</p>
    </div>
    <!-- /.container -->
</footer>