<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <title>@ViewData["Title"]</title>

    <environment names="Development">
        <script src="~/js/admin/validate.js"></script>
        <link rel="shortcut icon" type="image/ico" href="~/content/img/icon.jpg" />
        <link href="~/content/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
        <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.css" />
        <link rel="stylesheet" href="~/lib/font-awesome/css/font-awesome.css" />
        <link rel="stylesheet" href="~/css/admin/animate.css" />
        <link rel="stylesheet" href="~/css/admin/style.css" asp-append-version="true" />
        <link href="~/css/modern-business.css" rel="stylesheet">
    </environment>
    <environment names="Staging,Production">
        <script src="~/js/admin/validate.js"></script>
        <link rel="shortcut icon" type="image/ico" href="~/content/img/icon.jpg" />
        <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
        <link rel="stylesheet" href="~/lib/font-awesome/css/font-awesome.min.css" />
        <link rel="stylesheet" href="~/css/admin/animate.css" />
        <link rel="stylesheet" href="~/css/admin/style.css" asp-append-version="true" />
        <link href="~/css/modern-business.css" rel="stylesheet">
    </environment>

    <!-- Add local styles, mostly for plugins css file -->
    <!-- phan css chung cho tat ca -->
    <link href="~/css/admin/base.css" rel="stylesheet" asp-append-version="true" />
    @if (IsSectionDefined("css"))
    {@RenderSection("css", required: false)}
</head>
<body>
    <!-- Wrapper-->
    <div id="wrapper" style="padding-top: 10px">

        <!-- Navigation -->
        <partial name="_Navigation" />

        <!-- Page wraper -->
        <div id="page-wrapper" class="gray-bg @ViewBag.SpecialClass">

            <!-- Top Navbar -->
            <partial name="_TopNavbar" />
            <div style="padding: 12px 0">
                <!-- Main view  -->
                @RenderBody()
            </div>
            <!-- Footer -->
            <partial name="_Footer" />

        </div>
        <!-- End page wrapper-->

    </div>
    <!-- End wrapper-->

    <environment names="Development">
        <script src="~/lib/jquery/dist/jquery.js"></script>
        <script src="~/lib/Popper/popper.min.js"></script>
        <script src="~/lib/bootstrap/dist/js/bootstrap.js"></script>
        <script src="~/lib/metisMenu/dist/jquery.metisMenu.js"></script>
        <script src="~/lib/slimScroll/jquery.slimscroll.js"></script>
        <script src="~/lib/pace/pace.js"></script>
        <script src="~/js/script.js" asp-append-version="true"></script>
        <script src="~/js/admin/common.js"></script>

        <!-- Only for demo purpose -->
        <script src="~/js/skin.config.js"></script>
    </environment>
    <environment names="Staging,Production">
        <script src="~/lib/jquery/dist/jquery.min.js"></script>
        <script src="~/lib/Popper/popper.min.js"></script>
        <script src="~/lib/bootstrap/dist/js/bootstrap.min.js"></script>
        <script src="~/lib/metisMenu/dist/jquery.metisMenu.js"></script>
        <script src="~/lib/pace/pace.min.js"></script>
        <script src="~/lib/slimScroll/jquery.slimscroll.min.js"></script>
        <script src="~/js/script.js" asp-append-version="true"></script>
        <script src="~/js/admin/common.js"></script>
    </environment>

    @RenderSection("scripts", required: false)
</body>
</html>
