<!-- Navigation -->
<nav class="navbar fixed-top navbar-expand-lg navbar-dark bg-dark fixed-top">
    <div class="container">
        <a class="navbar-brand" href="/page/index.html"><img src="../content/img/icon.jpg" class="main-icon">Hệ thống quản lý thư viện</a>
        <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarResponsive">
            <ul id="navItemList" class="navbar-nav ml-auto">
                <li id="aboutBtn" class="nav-item">
                    <a class="nav-link" href="/page/about.html" style="font-size: 16px">Thông tin</a>
                </li>
                <!-- <li class="nav-item">
                    <a class="nav-link" href="services.html">Tính năng</a>
                </li> -->
            </ul>
        </div>
    </div>
</nav>