
@{
    ViewData["Title"] = "Quản lý người dùng";
}

@section css{
    <link href="~/css/admin/page/userManager.css" rel="stylesheet" />
}

@section scripts
{
    <script src="~/js/base/commonBase.js" asp-append-version="true"></script>
    <!-- Pagination Jquery Plugin -->
    <script src="~/js/lib/twbs-pagination-1.4.1/jquery.twbsPagination.min.js" asp-append-version="true"></script>
    <script src="~/js/admin/userManager.js" asp-append-version="true"></script>
}

<div class="row">
    <div class="col-lg-12">
        <div class="row ctnHeaderToolbar">
            <h2 style=" margin: 0px;">Danh sách người dùng</h2>
            <div class="input-group mb-3 ctnInputSearch">
                <input type="text" class="form-control searchInp" placeholder="Tìm kiếm...">
                <div class="input-group-append searchInp">
                    <button class="btn btn-outline-secondary fa fa-search"></button>
                </div>
            </div>
        </div>

        <div class="card" style="height: calc(100vh - 115px); overflow: auto;">
            <div class="card-body" style="height: calc(100vh - 175px); overflow: auto;">
                <div class="table-responsive scrollable-table">
                    <table id="tbl-filechanges" class="table table-hover table-bordered dataTables-example">
                        <thead>
                            <tr>
                                <th>#</th>
                                <th>Tên đăng nhập</th>
                                <th>Email</th>
                                <th>Họ tên</th>
                                <th>Tuổi</th>
                                <th>Địa chỉ</th>
                                <th>Admin</th>
                                <th>Xóa</th>
                            </tr>
                        </thead>
                        <tbody id="lstUserGrid"></tbody>
                    </table>
                    <span id="noUsers">Không có bản ghi nào</span>
                </div>
            </div>
            <ol class="breadcrumb pagingConfig" style=" align-self: center;">
                <!-- thanh phân trang -->
                <div id="pagingDiv" class="pagination-sm ml-auto">
                </div>
            </ol>
        </div>
    </div>

    <div class="modal fade" id="modalConfirmDelete" tabindex="-1" role="dialog" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content">
                <div class="modal-header border-bottom-0">
                    <h3 class="modal-title">Xóa người dùng</h3>
                </div>
                <div class="modal-body" style="padding: 10px 20px;">
                    <label>Bạn có muốn xóa tài khoản người dùng đã chọn không?</label>
                </div>
                <div class="modal-footer border-top-0" style=" padding: 10px;">
                    <button data-dismiss="modal" class="btn btn-outline-secondary">Hủy bỏ</button>
                    <button id="confirmDeleteUser" class="btn btn-success">Xác nhận</button>
                </div>
            </div>
        </div>
    </div>

    <div class="modal fade" id="modalNotification" tabindex="-1" role="dialog" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content">
                <div class="modal-header border-bottom-0">
                    <h3 class="modal-title">Thông báo</h3>
                </div>
                <div class="modal-body" style="padding: 10px 20px;">
                    <label class="content-notify"></label>
                </div>
                <div class="modal-footer border-top-0" style=" padding: 10px;">
                    <button data-dismiss="modal" class="btn btn-outline-secondary">Đóng</button>
                </div>
            </div>
        </div>
    </div>
</div>

