.nav .nav-tabs>li.active>a,
.nav-tabs>li.active>a:focus,
.nav-tabs>li.active>a:hover {
    border: 0;
}

#userAvatar {
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
    width: 200px;
    height: 200px;
    aspect-ratio: auto 200 / 200;
}

#avatarUserDiv {
    background-image: url('/content/img/landing-bg.png');
    background-repeat: no-repeat;
    background-size: cover;
}


/* custom list-group từ bootstrap */

.list-group-item.active {
    color: #fff;
    background-color: #343a40;
    border-color: black;
}

.configPopUp {
    align-items: center;
}

#modalUpdateInfor .modal-dialog {
    max-width: 630px;
}

input {
    font-size: 14px !important;
}


/* custom hover card */

.card.h-100:hover {
    background-color: #c5c5c5;
    color: black;
}