/* default */

body {
    padding-top: 56px;
    font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Helvetica, Arial, sans-serif, Apple Color Emoji, Segoe UI Emoji;
}

.carousel-item {
    height: 65vh;
    min-height: 300px;
    background: no-repeat center center scroll;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

.portfolio-item {
    margin-bottom: 30px;
}


/* xử lý ảnh chính trang index */

header {
    padding: 156px 0 200px;
    background-image: url('/content/img/landing-bg.png');
    background-position: center;
    background-size: cover;
}


/* xử lý ảnh trên top nav bar */

.main-icon {
    width: 40px;
    height: 40px;
    margin-right: 10px;
    border-radius: 50px;
    content: url("/content/img/logo-app.jpg");
    aspect-ratio: auto 40 / 40;
}

.avatar-icon {
    width: 30px;
    height: 30px;
    border-radius: 50px;
    align-items: center;
}


/* custom thẻ a và các thẻ cho text */

p {
    font-weight: 400;
    font-size: 16px;
}

b {
    font-size: 16px;
    font-weight: 600;
}

h1,
h2,
h3,
h4,
h5 {
    font-weight: 500;
}

.p-custom {
    font-size: 16px;
    font-weight: 500;
}

a:-webkit-any-link {
    color: #2a5c92;
    cursor: pointer;
}

.configText a:-webkit-any-link {
    color: #28a745;
}

a:hover {
    color: #0d3663;
    text-decoration: none;
}


/* xử lý thẻ input */

input {
    cursor: pointer;
}


/* custom dropdown từ boostrap */

.dropdown-item:hover {
    color: black
}

.dropdown-item:active {
    background-color: white;
    border-color: white;
}


/* custom pagination từ bootstrap */

.page-item.active .page-link {
    background-color: #28a745;
    border-color: #28a745;
}


/* custom card bootstrap */

.card {
    cursor: pointer;
}


/* custom list rỗng */

.empty-list-title {
    font-size: 1.125rem;
    text-align: center;
}

.empty-list-image {
    width: 8.375rem;
    height: auto;
    border-radius: 50%
}


/* custom hover card */

.card.h-100:hover {
    background-color: #212529;
    color: white;
}