/* custom bootstrap input-group */

.btn-custom-detail {
    font-size: 14px;
}


/* xử lý ảnh chính trang index */

.header {
    padding: 4rem 0 4rem 0;
    background-image: url('../../content/img/wave.png');
    background-position: bottom;
    background-size: cover
}

.bg-aqua {
    background-color: #a2d9ff;
}

.bg-gradient-aqua {
    background: rgb(162, 217, 255);
    background: linear-gradient(180deg, rgba(162, 217, 255, 1) 0%, rgba(232, 232, 232, 1) 20%, rgba(255, 255, 255, 1) 55%);
}