html {
    height: 100%;
}

body {
    width: 100%;
    height: 100%;
    background-repeat: no-repeat;
    background-image: url("../../content/img/wave.png");
    background-size: contain;
    background-position: bottom;
}

.logo {
    width: 70px;
    height: 70px;
    content: url("/content/img/logo-app.jpg");
    border-radius: 10px;
}