.book-manager-container .book-image {
    width: 100%;
    height: 270px;
    margin-bottom: 15px;
    border: 1px solid;
}

.book-manager-container .book-image img{
    height: 100%;
    width: 100%;
}

.book-manager-container #imgInp {
    width: 100%;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.downloadTemplateFile {
    cursor: pointer;
    color: #007bff;
    text-decoration: underline;
}
.toolbar {
    display: flex;
    justify-content: space-between;
}
.custom-select {
    height: 35px !important;
    border-radius: 3px 0px 0px 3px;
}
.btnToolbar {
    margin-left: 8px !important;
}

.btnDelete {
    width: 35px;
    height: 35px;
}

.cbxBookDetail {
    height: 18px !important;
    width: 18px !important;
}

.searchInp {
    height: 35px !important;
    width: 270px !important;
    border: 1px solid #ced4da;
}

#loader {
    opacity: 1 !important;
    position: absolute;
    left: 50%;
    top: 50%;
    z-index: 1;
    width: 120px;
    height: 120px;
    margin: -76px 0 0 -76px;
    border: 16px solid #f3f3f3;
    border-radius: 50%;
    border-top: 16px solid blue;
    border-right: 16px solid blue;
    border-bottom: 16px solid blue;
    -webkit-animation: spin 2s linear infinite;
    animation: spin 2s linear infinite;
}

@-webkit-keyframes spin {
    0% {
        -webkit-transform: rotate(0deg);
    }

    100% {
        -webkit-transform: rotate(360deg);
    }
}

@keyframes spin {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}

/* Add animation to "page content" */
.animate-bottom {
    position: relative;
    -webkit-animation-name: animatebottom;
    -webkit-animation-duration: 1s;
    animation-name: animatebottom;
    animation-duration: 1s
}

@-webkit-keyframes animatebottom {
    from {
        bottom: -100px;
        opacity: 0
    }

    to {
        bottom: 0px;
        opacity: 1
    }
}

@keyframes animatebottom {
    from {
        bottom: -100px;
        opacity: 0
    }

    to {
        bottom: 0;
        opacity: 1
    }
}

.loading {
    opacity: 0.9;
    pointer-events: none;
}

#modalAddBook > .modal-dialog {
    max-width: 60%;
}

.input-error {
    color: #ff0000;
    font-size: 11px;
}

.requirelabel {
    color: #ff0000;
    font-size: 11px;
}