.book-manager-container .book-image {
    width: 200px;
    height: 270px;
    margin-bottom: 15px;
    border: 1px solid;
}

.book-manager-container .book-image img{
    height: 100%;
    width: 100%;
}

.book-manager-container #imgInp {
    width: 200px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.downloadTemplateFile {
    cursor: pointer;
    color: #007bff;
    text-decoration: underline;
}
.toolbar {
    width: 100%;
    display: flex;
    justify-content: flex-end;
}
.btn{
    margin-left: 10px !important;
}