.book-manager-container .book-image {
    width: 100%;
    height: 285px;
    border: 1px solid;
}

.modalBookDetail {
    padding: 8px 30px 0px 30px !important;
}

.book-manager-container .book-image img {
    height: 100%;
    width: 100%;
}

.book-manager-container #imgInp {
    width: 100%;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.inpPadding{
    padding: 0px 7px !important;
}

.downloadTemplateFile {
    cursor: pointer;
    color: #007bff;
    text-decoration: underline;
}
.toolbar {
    display: flex;
    justify-content: space-between;
}

.btnToolbar {
    margin-left: 8px !important;
    min-width: 70px;
}

.custom-select {
    height: 35px !important;
    border-radius: 3px;
    font-size: 13px;
}

.btnDelete {
    margin-left: 8px !important;
    width: 36px !important;
    height: 36px !important;
}

.cbxBookDetail {
    height: 18px !important;
    width: 18px !important;
}

.searchInp {
    height: 35px !important;
    width: 270px !important;
    border: 1px solid #ced4da;
}

#modalAddBook > .modal-dialog {
    max-width: 65%;
}

.input-error {
    color: #ff0000;
    font-size: 11px;
}

.requirelabel {
    color: #ff0000;
    font-size: 13px;
}

.files input {
    outline: 2px dashed #92b0b3;
    outline-offset: -10px;
    -webkit-transition: outline-offset .15s ease-in-out, background-color .15s linear;
    transition: outline-offset .15s ease-in-out, background-color .15s linear;
    padding: 60px 0px 85px 35%;
    text-align: center !important;
    margin: 0;
    width: 100% !important;
}

    .files input:focus {
        outline: 2px dashed #92b0b3;
        outline-offset: -10px;
        -webkit-transition: outline-offset .15s ease-in-out, background-color .15s linear;
        transition: outline-offset .15s ease-in-out, background-color .15s linear;
        border: 1px solid #92b0b3;
    }

.files {
    position: relative
}

    .files:after {
        pointer-events: none;
        position: absolute;
        top: 20px;
        left: 0;
        width: 30px;
        right: 0;
        height: 32px;
        content: "";
        background-image: url(https://image.flaticon.com/icons/png/128/109/109612.png);
        display: block;
        margin: 0 auto;
        background-size: 100%;
        background-repeat: no-repeat;
    }

.color input {
    background-color: #f1f1f1;
}

.files:before {
    position: absolute;
    bottom: 5px;
    left: 0;
    pointer-events: none;
    width: 100%;
    right: 0;
    height: 37px;
    content: " Kéo thả file vào đây. ";
    display: block;
    margin: 0 auto;
    color: #2ea591;
    font-weight: 600;
    text-transform: capitalize;
    text-align: center;
}

.checkedBook {
    box-shadow: rgb(0 0 0) 0px 0px 10px;
    border-color: #676a6c;
}

#bookCategory {
    height: 31px !important;
    border-radius: 3px;
    font-size: 13px;
    padding: 5px;
}

.modal input {
    border-radius: 3px;
}

.form-control{
    border: 1px solid #ced4da;
}

.form-group {
    margin-bottom: 8px;
}

label {
    display: inline-block;
    margin-bottom: 2px;
    font-weight: 500;
}

div#pop-up-search {
    display: none;
    position: absolute;
    width: 450px;
    padding: 10px;
    background: #eeeeee;
    color: #000000;
    border: 1px solid #cecece;
    box-shadow: rgba(0, 0, 0, 0.5) 0px 0px 5px;
    font-size: 90%;
    border-radius: 3px;
    display: block;
}

.btn-more-search {
    height: 35px !important;
    border-radius: 3px 0px 0px 3px;
    font-size: 13px;
    width: 90px !important;
}

.toolbar-search {
    margin-top: 8px;
    width: 100%;
    text-align: right;
}