<div class="modal fade" id="modalAddBook" tabindex="-1" role="dialog" aria-labelledby="modalAddBookLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h3 class="modal-title" id="modalAddBookLabel">Thêm sách</h3>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body modalBookDetail">
                <div class="row">
                    <div class="col-md-3">
                        <h3>Ảnh bìa sách</h3>
                        <div class="book-manager-container">
                            <label class="book-image">
                                <div class="book-image">
                                    <img id="blah" src="~/content/img/avatar-book-default.jpg" class="img-fluid" alt="Chọn ảnh bìa sách">
                                </div>
                                <input type='file' id="imgInp" accept=".png,.jpg" hidden />
                            </label>
                        </div>
                    </div>
                    <div class="col-md-9">
                        <h3>Thông tin:</h3>
                        <div class="form-group">
                            <div class="row">
                                <div class="col-md-8 inpPadding">
                                    <label for="bookCode">Mã sách <span class="requirelabel">*</span></label>
                                    <input type="text" class="form-control checkBookCode" id="bookCode" required>
                                    <span class="input-error"></span>
                                </div>
                                <div class="col-md-4 inpPadding">
                                    <label for="bookCategory">Loại sách <span class="requirelabel">*</span></label>
                                    <select class="custom-select" id="bookCategory" required>
                                    </select>
                                </div>
                            </div>
                        </div>

                        <div class="form-group">
                            <div class="row">
                                <div class="col-md-12 inpPadding">
                                    <label for="bookName">Tên sách <span class="requirelabel">*</span></label>
                                    <input type="text" class="form-control checkRequire" id="bookName" required>
                                    <span class="input-error"></span>
                                </div>
                            </div>
                        </div>

                        <div class="form-group">
                            <div class="row">
                                <div class="col-md-6 inpPadding">
                                    <label for="bookAuthor">Tên tác giả <span class="requirelabel">*</span></label>
                                    <input type="text" class="form-control checkRequire" id="bookAuthor" required>
                                    <span class="input-error"></span>
                                </div>
                                <div class="col-md-3 inpPadding">
                                    <label for="bookYear">Năm xuất bản <span class="requirelabel">*</span></label>
                                    <input type="number" class="form-control checkNumInput" id="bookYear" min="1900" max="2021" required>
                                    <span class="input-error"></span>
                                </div>
                                <div class="col-md-3 inpPadding">
                                    <label for="bookName">Số trang <span class="requirelabel">*</span></label>
                                    <input type="number" class="form-control checkNumInput" id="bookPage" min="1" max="10000" required>
                                    <span class="input-error"></span>
                                </div>
                            </div>
                        </div>

                        <div class="form-group">
                            <div class="row">
                                <div class="col-md-12 inpPadding">
                                    <label for="description">Mô tả <span class="requirelabel">*</span></label>
                                    <textarea class="form-control checkRequire" rows="3" id="bookDescription" required></textarea>
                                    <span class="input-error"></span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12">
                        <div class="form-group">
                            <div class="row">
                                <div class="col-md-12 inpPadding">
                                    <label for="bookInfo">Tải tài liệu lên</label>
                                    <form method="post" action="#" id="#">
                                        <div class="form-group files">
                                            <input type="file" class="form-control" multiple="" id="bookPdf" accept=".pdf">
                                        </div>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-outline-secondary btn-discard" data-dismiss="modal">Đóng</button>
                <button type="button" class="btn btn-aqua saveDataBook">Lưu sách</button>
            </div>
        </div>
    </div>
</div>