@{
    ViewData["Title"] = "Quản lý sách";
}

@section css{
    <link href="~/css/admin/page/bookManager.css" rel="stylesheet" />
}
@section scripts
{
    <script src="~/js/admin/bookManager.js" asp-append-version="true"></script>
    <script src="~/js/admin/validate.js" asp-append-version="true"></script>
    <script src="~/js/admin/modalBookDetail.js" asp-append-version="true"></script>
    <script src="~/js/page/book-detail.js" asp-append-version="true"></script>
    <script src="~/js/base/commonBase.js" asp-append-version="true"></script>
    <!-- Pagination Jquery Plugin -->
    <script src="~/js/lib/twbs-pagination-1.4.1/jquery.twbsPagination.min.js" asp-append-version="true"></script>
}

<div class="main-container">
    <div class="toolbar">
        <div class="toolbar-left">
            <div class="input-group mb-3">
                <div class="input-group-prepend custom-select btn-more-search">
                    Bộ lọc
                </div>
                <input type="text" class="form-control searchInp" placeholder="Tìm kiếm...">
                <div class="input-group-append">
                    <button class="btn btn-aqua fa fa-search"></button>
                </div>
            </div>
        </div>
        <div class="toolbar-right">
            <button type="button" class="btn btnAdd btn-aqua" data-toggle="modal" data-target="#modalAddBook">
                Thêm mới
            </button>

            <!-- Button trigger modal -->
            <button type="button" class="btn btnExcel btnToolbar btn-outline-aqua" data-toggle="modal" data-target="#exampleModalCenter">
                Nhập khẩu
            </button>

            <button class="btn btn-outline-secondary btnDelete fa fa-trash-o" title="Xóa"></button>
        </div>
    </div>

    <!-- kết quả tìm kiếm -->
    <div id="searchResultDiv">
    </div>
    <ol class="breadcrumb pagingConfig" style="background: center; margin-bottom: 40px; justify-content: center;">
        <!-- thanh phân trang -->
        <div id="pagingDiv" class="pagination-sm">
        </div>
    </ol>
    <!-- Modal -->
    <div class="modal fade" id="exampleModalCenter" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h3 class="modal-title" id="exampleModalLongTitle">Nhập khẩu</h3>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <h5>Chọn file nhập khẩu</h5>
                    <div class="custom-file input-group">
                        <input type="file" class="custom-file-input check-file-upload" id="fileNewupload" accept=".xls,.xlsx">
                        <label class="custom-file-label" for="fileNewupload">Choose file .xls or .xlsx</label>
                    </div>
                    <div class="downloadTemplateFile">
                        Tải file mẫu
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-outline-secondary" data-dismiss="modal">Đóng</button>
                    <button type="button" class="btn btn-aqua" id="btn-import">Nhập khẩu</button>
                </div>
            </div>
        </div>
    </div>

    <div class="modal fade" id="modalConfirmDelete" tabindex="-1" role="dialog" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content">
                <div class="modal-header border-bottom-0">
                    <h3 class="modal-title">Xóa sách</h3>
                </div>
                <div class="modal-body" style="padding: 10px 20px;">
                    <label>Bạn có muốn xóa những cuốn sách đã chọn không?</label>
                </div>
                <div class="modal-footer border-top-0" style=" padding: 10px;">
                    <button data-dismiss="modal" class="btn btn-outline-secondary">Hủy bỏ</button>
                    <button id="confirmDeleteBook" class="btn btn-aqua">Xác nhận</button>
                </div>
            </div>
        </div>
    </div>

    <div id="pop-up-search" style="display: none;">
        <div class="filter-search">
            <div style="display:flex">
                <div class="w-50" style="margin-right: 4px;">
                    <label>Lọc theo:</label>
                    <select id="searchTypeSelect" class="custom-select custom-select-sm">
                        <option value="1" selected>Tên sách</option>
                        <option value="2">Tác giả</option>
                    </select>
                </div>
                <!-- chọn loại sách -->
                <div class="w-50" style="margin-left: 4px;">
                    <label>Thể loại:</label>
                    <select id="searchSelectGroup" class="custom-select custom-select-sm">
                        <option value="0" selected>Tất cả</option>
                    </select>
                </div>
            </div>
            <div class="w-100" style="margin: 8px 0px;">
                <label>Tùy chọn khác: </label>
                <div style="display: flex">
                    <!-- chọn năm xuất bản -->
                    <div id="yearPublishSelect" class="btn-group btn-group-sm w-35" style="margin-right: 4px;">
                        <button type="button" class="btn btn-light border-light dropdown-toggle" data-toggle="dropdown" style="background-color: white;">
                            Năm xuất bản
                        </button>
                        <div class="dropdown-menu">
                            <div class="dropdown-item d-inline-block form-inline">
                                <input id="startYearInput" class="form-control form-control-sm" type="number" placeholder="Bắt đầu">
                                <input id="finishYearInput" class="form-control form-control-sm" type="number" placeholder="Kết thúc">
                            </div>
                        </div>
                    </div>
                    <select id="sortNameSelect" class="custom-select custom-select-sm w-35" style="margin: 0px 4px;">
                        <option value="0" selected>Sắp xếp theo</option>
                        <option value="1">Mới nhất</option>
                        <option value="2">Số lượt mượn</option>
                    </select>
                    <select id="sortTypeSelect" class="custom-select custom-select-sm w-30" style="margin-left: 4px;">
                        <option value="0" selected>Cấp độ</option>
                        <option value="1">Giảm dần</option>
                        <option value="2">Tăng dần</option>
                    </select>
                </div>
            </div>
        </div>
        <div class="toolbar-search">
            <button type="button" class="btn btnToolbar btnClose btn-outline-secondary">
                Hủy
            </button>
            <button type="button" class="btn btnToolbar btnCancel btn-outline-aqua">
                Bỏ lọc
            </button>
            <button type="button" class="btn btnToolbar btnApply btn-aqua">
                Áp dụng
            </button>
        </div>
    </div>

    <div class="modal fade" id="modalNotification" tabindex="-1" role="dialog" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content">
                <div class="modal-header border-bottom-0">
                    <h3 class="modal-title">Thông báo</h3>
                </div>
                <div class="modal-body" style="padding: 10px 20px;">
                    <label class="content-notify"></label>
                </div>
                <div class="modal-footer border-top-0" style=" padding: 10px;">
                    <button data-dismiss="modal" class="btn btn-outline-secondary">Đóng</button>
                </div>
            </div>
        </div>
    </div>

    <partial name="/Views/BookManager/_ModalBookDetail.cshtml" />
</div>