
/*Alert*/
/*Thành công*/
.toastMsg {
    display: none;
    background-color: #fff;
    border-color: #349a4a;
    border: 1px solid #0fa655;
    border-radius: 4px;
    font-size: 16px;
    color: #0fa655;
    font-weight: bold;
    position: fixed;
    bottom: 20px;
    right: 20px;
    padding: 8px 16px;
    width: 250px;
    z-index: 9999;
}

.toastMsg-img-success {
    background-image: url('/content/img/successv1.png');
    width: 20px;
    height: 20px;
    float: left;
    margin-top: 3px;
    margin-right: 8px;
    background-size: contain;
}

.toastMsg-text {
    font-size: 13px;
    color: #000;
    font-weight: 400 !important;
    margin-top: 4px;
    margin-left: 28px;
}

/*Thất bại*/
.toastMsgFailed {
    display: none;
    background-color: #fff;
    border-color: #ff3333;
    border: 1px solid #ff3333;
    border-radius: 4px;
    font-size: 16px;
    color: #ff3333;
    font-weight: bold;
    position: fixed;
    bottom: 20px;
    right: 20px;
    padding: 8px 16px;
    width: 250px;
    z-index: 9999;
}

.toastMsgFailed-img {
    background-image: url('/content/img/failv1.jpg');
    width: 20px;
    height: 20px;
    float: left;
    margin-top: 3px;
    margin-right: 8px;
    background-size: contain;
}

.toastMsgFailed-text {
    font-size: 13px;
    color: #000;
    font-weight: 400 !important;
    margin-top: 4px;
    margin-left: 28px;
}

/*Cảnh báo*/
.toastMsgWarning {
    display: none;
    background-color: #fff;
    border-color: #ffc400;
    border: 1px solid #ffc400;
    border-radius: 4px;
    font-size: 16px;
    color: #ffc400;
    font-weight: bold;
    position: fixed;
    bottom: 20px;
    right: 20px;
    padding: 8px 16px;
    width: 250px;
    z-index: 9999;
}

.toastMsgWarning-img {
    background-image: url('/content/img/warningv2.png');
    width: 20px;
    height: 20px;
    float: left;
    margin-top: 3px;
    margin-right: 8px;
    background-size: contain;
}

.toastMsgWarning-text {
    font-size: 13px;
    color: #000;
    font-weight: 400 !important;
    margin-top: 4px;
    margin-left: 28px;
}

/*Thông báo*/
.toastMsgInfomation {
    display: none;
    background-color: #fff;
    border-color: #004cb0;
    border: 1px solid #004cb0;
    border-radius: 4px;
    font-size: 16px;
    color: #004cb0;
    font-weight: bold;
    position: fixed;
    bottom: 20px;
    right: 20px;
    padding: 8px 16px;
    width: 250px;
    z-index: 9999;
}

.toastMsgInfomation-img {
    background-image: url('/content/img/infomationv1.jpg');
    width: 16px;
    height: 16px;
    float: left;
    margin-top: 5px;
    margin-right: 8px;
    background-size: contain;
    border-radius: 50%;
}

.toastMsgInfomation-text {
    font-size: 13px;
    color: #000;
    font-weight: 400 !important;
    margin-top: 4px;
    margin-left: 28px;
}

.label-required {
    color: #ff0000;
}


/**
    Xử lý scroll
*/


/* cho phép scroll không ảnh hưởng tới width page */

html {
    overflow-y: scroll;
}

::-webkit-scrollbar {
    width: 8px;
    height: 8px;
}


/* Track */

::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px #9aa4bb;
    -webkit-border-radius: 10px;
    border-radius: 2px;
}


/* Handle */

::-webkit-scrollbar-thumb {
    -webkit-border-radius: 10px;
    border-radius: 10px;
    background: #9aa4bb;
    -webkit-box-shadow: inset 0 0 6px #9aa4bb;
}

    ::-webkit-scrollbar-thumb:window-inactive {
        background: #9aa4bb;
    }

/* Loading Circle */
* {
    margin: 0;
    padding: 0;
}

.loader {
    width: 100%;
    height: 100%;
    background: rgba(128, 128, 128, 0.55);
    position: fixed;
    top: 0;
    left: 0;
    z-index: 100000000000;
    display: none;
    overflow: hidden;
}

.icon {
    border: 5px solid rgba(156, 39, 176, 0);
    /* Light grey */
    border-bottom: 7px solid #3498db;
    border-top: 7px solid #63b2e6;
    /* Blue */
    border-radius: 50%;
    width: 60px;
    height: 60px;
    color: #fff;
    position: absolute;
    top: 50%;
    left: 50%;
    margin-top: -65px;
    margin-left: -30px;
}

.text-loading {
    position: absolute;
    left: 0;
    bottom: 0;
    color: #fff;
    top: 50%;
    left: 50%;
    margin-left: -35px;
}

.animation {
    animation: loading 1.5s linear infinite;
    -moz-animation: loading 1.5s linear infinite;
    -o-animation: loading 1.5s linear infinite;
    -webkit-animation: loading 1.5s linear infinite;
}

@-webkit-keyframes loading {
    from {
        -ms-transform: rotate(0deg);
        -moz-transform: rotate(0deg);
        -o-transform: rotate(0deg);
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg);
    }

    to {
        -ms-transform: rotate(360deg);
        -moz-transform: rotate(360deg);
        -o-transform: rotate(360deg);
        -webkit-transform: rotate(360deg);
        transform: rotate(360deg);
    }
}
